*{
    margin: 0;
    padding: 0;
}
body {
    background: #ffe9b1;
    background: -webkit-linear-gradient(0deg, #ffe9b1 0%, #ff8fb1 50%, #432c7a 100%);
    background: linear-gradient(0deg, #ffe9b1 0%, #ff8fb1 50%, #432c7a 100%);
}

.spacer{
    aspect-ratio: 1920/100;
    width: 98.4%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 15px;
}

.mid-layer{
    background-image: url("assets/WSD_lab_2_spacer.svg");
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-layer_2 {
    background-image: url("../assets/spacer_2.svg");
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas_container {
    background-color: #FCE2DB;
    width: 98.4%;
    height: max-content;
}

.mid-layer_3 {
    background-image: url("../assets/spacer_3.svg");
    display: flex;
    justify-content: center;
    align-items: center;
}

.myCanvas {
    height: 400px;
    width: 500px;
    border: 1px solid black;
    border-radius: 20px;
    transform: none;
    transition: 0.4s;
}

.mid-layer_4 {
    background-image: url("../assets/spacer_4.svg");
    display: flex;
    justify-content: center;
    align-items: center;
}

.html5_form {
    width: 98.4%;
    background-color: #FFE9B1;
}

.html5_form_content {
    height: max-content;
    padding: 20px;
    border: 1px solid white;
    margin-top: 20px;
    border-radius: 10px;
    background: white;
}

.html5_form_elements {
    display: grid;
    place-items: center;
}

#navbar {
    transition: 0.4s all ease;
}
