*{
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}

.spacer{
    aspect-ratio: 1920/100;
    width: 98.4%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 15px;
}

.mid-layer{
    background-image: url("assets/WSD_lab_2_spacer.svg");
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-layer_2 {
    background-image: url("../assets/spacer_2.svg");
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas_container {
    background-color: #0d0a66;
    width: 98.4%;
}

.mid-layer_3 {
    background-image: url("../assets/spacer_3.svg");
    display: flex;
    justify-content: center;
    align-items: center;
}

.myCanvas {
    height: 400px;
    width: 500px;
    border: 1px solid black;
    border-radius: 20px;
    transform: none;
    transition: 0.4s;
}

